<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Vendas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Vendas</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TXID</th>
                    <th>User ID</th>
                    <th>Nome</th>  <!-- Nova coluna para o nome -->
                    <th>Plano</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th>Data de Criação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for venda in vendas %}
                <tr>
                    <td>{{ venda[0] }}</td>
                    <td>{{ venda[1] }}</td>
                    <td>{{ venda[2] }}</td>
                    <td>{{ venda[3] }}</td>  <!-- Exibe o nome do usuário -->
                    <td>{{ venda[4] }}</td>
                    <td>R$ {{ venda[5] }}</td>
                    <td>{{ venda[6] }}</td>
                    <td>{{ venda[7] }}</td>
                    <td>
                        <form method="POST" action="/check_transaction">
                            <input type="hidden" name="txid" value="{{ venda[1] }}">
                            <button type="submit" class="btn btn-primary">Verificar Transação</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
